body {
    background-color: #f8f9fa;
}

h2 {
    font-weight: bold;
}

table img {
    margin-right: 10px;
}

thead th {
    text-align: center;
}

table td, table th {
    vertical-align: middle;
    text-align: center;
}

input[type="number"] {
    margin: 0 auto;
    display: block;
}

label {
    font-weight: 500;
}

select, input[type="text"] {
    max-width: 100%;
}

@media (min-width: 768px) {
    .w-md-50 {
        width: 48% !important;
    }
}
